
<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %} {% load staticfiles %}
<!-- 写入 base.html 中定义的 title -->
{% block title %} 写文章 {% endblock title %}
<!-- 写入 base.html 中定义的 content -->
{% block content %}
<!-- 写文章表单 -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <!-- 提交文章的表单 -->
            <form method="post" action="." enctype="multipart/form-data">
                <div class="form-group">
                    <label for="avatar">标题图</label>
                    <input type="file" class="form-control-file" name="avatar" id="avatar">

                </div>
                <!-- Django中需要POST数据的地方都必须有csrf_token -->
                {% csrf_token %}
                <!-- 文章标题 -->
                <div class="form-group">
                    <!-- 标签 -->
                    <label for="title">文章标题</label>
                    <!-- 文本框 -->
                    <input type="text" class="form-control" id="title" name="title">
                </div>
{#                文章标签#}
                <div class="form-group">
                    <label for="tags">标签</label>
                    <input type="text"
                           class="form-control col-3"
                           id="tags"
                           name="tags"
                    >

                </div>
                <!-- 文章正文 -->
                <div class="form-group">
                    <label for="body">文章正文</label>
                    <!-- 文本区域 -->
{#                    <textarea type="text" class="form-control" id="body" name="body" rows="12"></textarea>#}
                    <div>
                        {{ article_post_form.media }}
                        {{ article_post_form.body }}
                    </div>
                </div>
{#                文章栏目#}
                <div class="form-group">
                    <label for="column">栏目</label>
                    <!-- 标签区域 -->
                    <select class="form-control"
                            id="column"
                            name="column"
                     >
                            <option value="none">选择栏目...</option>
                        {% for column in columns %}
                            <option value="{{ column.id }}">{{ column }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-info">完成</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}



{#<form>..</form>标签中的内容就是需要提交的表单。method="post"指定了表单提交的方式为POST（与视图函数中的request.method相联系）；action="."指定了表单提交的地址为默认的当前url。#}
{#关于{% csrf_token %}，它是Django中一个与网络安全相关的中间件验证。目前我们暂时不去深究它的实现，只需要知道表单中必须包含它就可以了，否则将会得到一个403错误。#}
{#<input>和<textarea>标签中的name=''属性指定了当前文本框提交的数据的名称，它必须与表单类中的字段名称对应，否则服务器无法将字段和数据正确的对应起来。#}
