{% load staticfiles %}
<!-- Footer -->
{#<div>#}
{#    <br><br><br>#}
{#</div>#}
{#<footer class="py-3 bg-dark fixed-bottom">#}
{#<footer class="navbar-transparent navbar-fixed-top" role="navigation" id="footer">#}
{#navbar navbar-fixed-top navbar-transparent#}
{#<footer class="py-3 bg-dark">#}
{#    <div class="center-block" >#}
{##}
{#        <div class="container">#}
{#            <p class="m-0 text-center text-white " >www.xiaofengzi.com 2020</p>#}
{#        </div>#}
{#     </div>#}
{##}
{#</footer>#}

<div class="row col-12 justify-content-center">
    <div style="text-align: center; color: lightgrey;">
        <p class="mb-0">CopyRight &copy; 2019 ~ 2020 @cz小风子的个人网站</p>
        <p class="mb-0">Powered by
            <a href="https://www.djangoproject.com/" target="_blank">
                Django
            </a> &
            <a target="_blank" href="https://getbootstrap.com/">
                Bootstrap4
            </a>
            <span class="mb-0">&nbsp;粤ICP备20007442号-1</span>
        </p>
    </div>
</div>